* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(243, 243, 243);
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    90deg,
    hsla(31, 90%, 69%, 1) 0%,
    hsla(23, 90%, 68%, 1) 20%,
    hsla(15, 87%, 66%, 1) 40%,
    hsla(9, 85%, 65%, 1) 60%,
    hsla(3, 86%, 64%, 1) 80%
  );
  font-family: sans-serif;
}

.app__quote {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .app__quote {
    width: 80%;
  }
}

.quote__text {
  font-size: 36px;
}
.quote__author {
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
}

.quote__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn {
  background: transparent;
  border: 1px solid rgb(243, 243, 243);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  transition: 0.7s ease;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.185);
}
#tweet-quote {
  text-decoration: none;
}
